<div class="container d-flex justify-content-center">
  <div class="card o-hidden shadow-lg "  style="width: 75%;">
    <div class="card-body ">
        <div class="text-center">
          <h1 class="h4 text-gray-900 mb-4">iMood JSON</h1>
        </div>
        <form class="user" method="POST" action="/patient/{{patient}}/addMood">
           <div class="form-group">
            <textarea name="json" class="form-control" id="textarea" rows="15"></textarea>
          </div>
          <button type="submit" class="btn btn-dark btn-user btn-block">
            Submit JSON
          </button>
        </form>
    </div>
</div>