<!-- Sidebar -->
<ul class="navbar-nav sidebar sidebar-dark accordion toggled" id="accordionSidebar">

<!-- Sidebar - Brand -->
<a class="sidebar-brand d-flex align-items-center justify-content-center" href="#">
    <div class="sidebar-brand-icon">
    <i class="fas fa-heartbeat"></i>
    </div>
    <div class="sidebar-brand-text mx-3">e-Health</div>
</a>

<!-- Divider -->
<hr class="sidebar-divider my-0">

<!-- Nav Item - Dashboard -->
<li class="nav-item active">
    <a class="nav-link" href="/patient/register/form">
    <i class="fas fa-fw fa-plus"></i>
    <span>Add Patient</span></a>
</li>

<!-- Divider -->
<hr class="sidebar-divider">

<!-- Heading -->
<div class="sidebar-heading">
    Patients
</div>

<!-- Nav Item - Pages Collapse Menu -->
<li class="nav-item">
    <a class="nav-link" href="/patient/manage" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
    <i class="fas fa-cog"></i>
    <span>Manage</span>
    </a>
</li>

<li class="nav-item">
    <a class="nav-link collapsed" id="list_patients" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
        <i class="fas fa-user-injured"></i>
        <span>List</span>
    </a>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
        <div id="patients" class="bg-white py-2 collapse-inner rounded">
        </div>
    </div>
</li>

<!-- Divider -->
<hr class="sidebar-divider d-none d-md-block">

<!-- Sidebar Toggler (Sidebar) -->
<div class="text-center d-none d-md-inline">
    <button class="rounded-circle border-0" id="sidebarToggle"></button>
</div>

</ul>
<!-- End of Sidebar -->

<script>

function appendHtml(el, str) {
  var div = document.createElement('div');
  div.innerHTML = str;
  while (div.children.length > 0) {
    el.appendChild(div.children[0]);
  }
}

$('#list_patients').on('click', function(event) {
    event.preventDefault();
     $.ajax({
        url: '/patient/list',
        method: 'GET',
        }).done(function(res) {
            if (res.success) {
            
            var list = document.getElementById("patients");
            list.innerHTML = '';

            for(let i =0; i <res.users.length; i++){
                let patient = `<a class="collapse-item" href="/patient/` + res.users[i].id + `/dashboard">` + res.users[i].name + `</a>`;
                appendHtml(list,patient);
            }
            
        } else {
            console.log('error...ajax');
            }
    })
});


</script>