
 <script>

  document.addEventListener('DOMContentLoaded', function() {
    var calendarEl = document.getElementById('calendar');

    var calEvents = document.getElementById('calEvents').innerHTML;

    console.log("olaaaaaaa");
    console.log(calEvents);
  
    var calendar = new FullCalendar.Calendar(calendarEl, {


      plugins: [ 'dayGrid', 'googleCalendar' ],         
      googleCalendarApiKey: 'AIzaSyC766H9R6MfgpDm2wH-zULsf_EebI8Icrk',
      eventSources: [

          {
            events: JSON.parse(calEvents),
            //color: 'black',     // an option!
            textColor: 'white' // an option!
          }
      ]
    });

    calendar.render();
  });

</script> 

<div class="container">

  <div id='calendar'></div>

 <div id="calEvents"  style="display: none;">{{calendarEvents}}</div> 


</div>