        <!-- Begin Page Content -->
        <div class="container-fluid">


          <!-- DataTales Example -->
          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-secondary">List of Patients</h6>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th>Name</th>
                      <th>Job</th>
                      <th>City</th>
                      <th>Age</th>
                      <th>Remove</th>

                    </tr>
                  </thead>
                  <tfoot>
                    <tr>
                      <th>Name</th>
                      <th>Job</th>
                      <th>City</th>
                      <th>Age</th>
                      <th>Remove</th>

                    </tr>
                  </tfoot>
                  <tbody>
                    <tr>
                      <td>Tiger Nixon</td>
                      <td>System Architect</td>
                      <td>Edinburgh</td>
                      <td>61</td>
                      <td>                        <a href="#" class="btn btn-danger btn-circle btn-sm">
                          <i class="fas fa-trash"></i>
                        </a></td>

                    </tr>
                    <tr>
                      <td>Garrett Winters</td>
                      <td>Accountant</td>
                      <td>Tokyo</td>
                      <td>63</td>
                      <td>                        <a href="#" class="btn btn-danger btn-circle btn-sm">
                          <i class="fas fa-trash"></i>
                        </a></td>

                    </tr>
                    <tr>
                      <td>Ashton Cox</td>
                      <td>Junior Technical Author</td>
                      <td>San Francisco</td>
                      <td>66</td>
                      <td>                  
                        <a href="#" class="btn btn-danger btn-circle btn-sm">
                          <i class="fas fa-trash"></i>
                        </a>
                      </td>

                    </tr>
                    <tr>
                      <td>Cedric Kelly</td>
                      <td>Senior Javascript Developer</td>
                      <td>Edinburgh</td>
                      <td>22</td>
                      <td>                        <a href="#" class="btn btn-danger btn-circle btn-sm">
                          <i class="fas fa-trash"></i>
                        </a></td>

                    </tr>
                    <tr>
                      <td>Airi Satou</td>
                      <td>Accountant</td>
                      <td>Tokyo</td>
                      <td>33</td>
                      <td>                        <a href="#" class="btn btn-danger btn-circle btn-sm">
                          <i class="fas fa-trash"></i>
                        </a></td>

                    </tr>
                    <tr>
                      <td>Brielle Williamson</td>
                      <td>Integration Specialist</td>
                      <td>New York</td>
                      <td>61</td>
                      <td>                        <a href="#" class="btn btn-danger btn-circle btn-sm">
                          <i class="fas fa-trash"></i>
                        </a></td>

                    </tr>


                    <tr>
                      <td>Martena Mccray</td>
                      <td>Post-Sales support</td>
                      <td>Edinburgh</td>
                      <td>46</td>
                      <td>                        <a href="#" class="btn btn-danger btn-circle btn-sm">
                          <i class="fas fa-trash"></i>
                        </a></td>

                    </tr>
                    <tr>
                      <td>Unity Butler</td>
                      <td>Marketing Designer</td>
                      <td>San Francisco</td>
                      <td>47</td>
                      <td>                        <a href="#" class="btn btn-danger btn-circle btn-sm">
                          <i class="fas fa-trash"></i>
                        </a></td>

                    </tr>
                    <tr>
                      <td>Howard Hatfield</td>
                      <td>Office Manager</td>
                      <td>San Francisco</td>
                      <td>51</td>
                      <td>                        <a href="#" class="btn btn-danger btn-circle btn-sm">
                          <i class="fas fa-trash"></i>
                        </a></td>

                    </tr>
                    <tr>
                      <td>Hope Fuentes</td>
                      <td>Secretary</td>
                      <td>San Francisco</td>
                      <td>41</td>
                      <td>                        <a href="#" class="btn btn-danger btn-circle btn-sm">
                          <i class="fas fa-trash"></i>
                        </a></td>

                    </tr>
                    <tr>
                      <td>Vivian Harrell</td>
                      <td>Financial Controller</td>
                      <td>San Francisco</td>
                      <td>62</td>
                      <td>                        <a href="#" class="btn btn-danger btn-circle btn-sm">
                          <i class="fas fa-trash"></i>
                        </a></td>

                    </tr>
                    <tr>
                      <td>Timothy Mooney</td>
                      <td>Office Manager</td>
                      <td>London</td>
                      <td>37</td>
                           <td>                        <a href="#" class="btn btn-danger btn-circle btn-sm">
                          <i class="fas fa-trash"></i>
                        </a></td>

                    </tr>
                    <tr>
                      <td>Jackson Bradshaw</td>
                      <td>Director</td>
                      <td>New York</td>
                      <td>65</td>
                      <td>                        <a href="#" class="btn btn-danger btn-circle btn-sm">
                          <i class="fas fa-trash"></i>
                        </a></td>

                    </tr>
                    <tr>
                      <td>Olivia Liang</td>
                      <td>Support Engineer</td>
                      <td>Singapore</td>
                      <td>64</td>
                      <td>                        <a href="#" class="btn btn-danger btn-circle btn-sm">
                          <i class="fas fa-trash"></i>
                        </a></td>

                    </tr>
                    <tr>
                      <td>Bruno Nash</td>
                      <td>Software Engineer</td>
                      <td>London</td>
                      <td>38</td>
                      <td>                        <a href="#" class="btn btn-danger btn-circle btn-sm">
                          <i class="fas fa-trash"></i>
                        </a></td>

                    </tr>
                    <tr>
                      <td>Sakura Yamamoto</td>
                      <td>Support Engineer</td>
                      <td>Tokyo</td>
                      <td>37</td>
                      <td>                        <a href="#" class="btn btn-danger btn-circle btn-sm">
                          <i class="fas fa-trash"></i>
                        </a></td>

                    </tr>
                    <tr>
                      <td>Thor Walton</td>
                      <td>Developer</td>
                      <td>New York</td>
                      <td>61</td>
                      <td>                        <a href="#" class="btn btn-danger btn-circle btn-sm">
                          <i class="fas fa-trash"></i>
                        </a></td>

                    </tr>
                    <tr>
                      <td>Finn Camacho</td>
                      <td>Support Engineer</td>
                      <td>San Francisco</td>
                      <td>47</td>
                      <td>                        <a href="#" class="btn btn-danger btn-circle btn-sm">
                          <i class="fas fa-trash"></i>
                        </a></td>

                    </tr>
                    <tr>
                      <td>Serge Baldwin</td>
                      <td>Data Coordinator</td>
                      <td>Singapore</td>
                      <td>64</td>
                      <td>                        <a href="#" class="btn btn-danger btn-circle btn-sm">
                          <i class="fas fa-trash"></i>
                        </a></td>

                    </tr>

                  </tbody>
                </table>
              </div>
            </div>
          </div>

        </div>
        <!-- /.container-fluid -->
